*.pkl
*.csv
frontend/
Front-end/.env
Front-end/.env.local
Front-end/.env.development
Front-end/.env.production

Front-end/logs
Front-end/*.log
*.log
Front-end/npm-debug.log*
Front-end/yarn-debug.log*
Front-end/yarn-error.log*
Front-end/pnpm-debug.log*
Front-end/lerna-debug.log*

Front-end/node_modules
Front-end/dist
Front-end/dist-ssr

Front-end/.cache
Front-end/.next